<div class="container">
  <form #profileData ="ngForm" (ngSubmit)="register(profileData.value)">
    <!--First Name-->
    <div class="form-group">
      <label>First Name.</label>
      <input type="text"
             name="fname"
             class="form-control"
             ngModel
             required
             #fname="ngModel"
             placeholder="Enter Name">
    </div>
    <div [hidden]="fname.valid" class="alert alert-danger">
      ***Can't Left Blank***
  </div>

    <!--Last Name-->
    <div class="form-group">
      <label>Last Name.</label>
      <input type="text"
             name="lname"
             class="form-control"
             ngModel>

    </div>

<!--Email-->
   <div class="form-group">
     <label>Email.</label>
     <input type="text"
            name="uemail"
            class="form-control"
            ngModel>

   </div>
   <!--Sub Group-->
   <div class="form-group" ngModelGroup="addr">
     <!--City-->
     <div class="form-group">
        <label>City.</label>
        <input type="text"
               name="ucity"
               class="form-control"
               ngModel>
      </div>

   
    <!--Addresslane-->
    <div class="form-group">
        <label>Address Lane.</label>
        <input type="text"
               name="addrl"
               class="form-control"
               ngModel>
    </div>
  </div>
<!--Gender-->
      <div class="form-group">
        <label>Gender.</label>
        <input type="radio"
               name="sex"
               class="form-control"
               value="male"
               ngModel>Male
        <input type="radio"
               name="sex"
               class="form-control"
               value="female"
               ngModel>Female
       </div>
<!--country-->
      <div class="form-group">
      <label>Country.</label>
      <select class="form-control" name ="ucountry" ngModel>
        <option value="usa">USA</option>
        <option value="India">INDIA</option>
        <option value="canada">Canada</option>
        <option value="Japan">Japan</option>

      </select>
        
      </div>
      <!--Submit button-->
    <div class="form-group" align="center">
      <input type="submit" class="btn btn-success">
    </div>
  </form>
</div>

